<div id="home-search-container">
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="widget pull-right">
                
                <div class="container" style="padding-bottom: 50px; padding-top: 50px;">
                            <h2 class="head-title">Welcome to ClassCheck</h2>
                            <p class="head-message"><strong>ClassCheck is the best solution to keep track of course requirements.</strong><br />
                           
                            <%= link_to "Create a Course", new_course_path, class: "btn-custom" %> 
</div>
          
       
    </div>
    </div>
    </div>
    </div>
    <section>
      <div class="container" style="padding-bottom: 50px; padding-top: 100px;">
         <div class="search-form">
             <p><strong>Search for Courses</strong></p>
             <%= form_tag search_courses_path, method: :get do |f| %>
                 <%= text_field_tag :search , nil, placeholder: "ENSC, CMPT, MATH, ENGL,..."%>
                 <%= text_field_tag :coursecode , nil, placeholder: " "%> <br />
                 <%= submit_tag  'Find your Course', class: "btn span3 btn-realto-form btn-large" %>
             <% end %>
         </div>
         </section>
    
    <!-- .span8  -->

    <!-- .span4  -->
</div>
</div>
</div>
</div>

